/*canvasHolder {
	height: 980px;
	width: 502px;
}*/
#canvasHolder {
	text-align:center;
	width: 100%;
	margin: auto;
}
#canvas {
	margin: auto;
	border: 1px solid black;
	display: inline;
}

#proceed-btn {
	top: 50px;
	left: 50px;

	position: absolute;
	text-align: center;
	z-index: 5;
}